<main>
    <h1>Dashboard</h1>
    <div class="date">
        <input type="date">
    </div>
    <div class="insights">
        <div class="users">
            <img src="../../../assets/images/group_FILL0_wght400_GRAD0_opsz40.png" alt="">
            <div class="middle">
                <div class="left">
                    <h3>Users</h3>
                    <h1>20</h1>
                </div>
                <div class="progress">
                    <!-- <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg> -->
                    <!-- <div class="number">
                        <p>80%</p>
                    </div> -->
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>
        <!-- End of softwares -->
        <div class="devices">
            <img src="../../../assets/images/devices_FILL0_wght400_GRAD0_opsz40.png" alt="">
            <div class="middle">
                <div class="left">
                    <h3>Devices</h3>
                    <h1>14</h1>
                </div>
                <div class="progress">
                    <!-- <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg> -->
                    <!-- <div class="number">
                        <p>70%</p>
                    </div> -->
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>
        <!-- End of installed -->
        <div class="softwares">
            <img src="../../../assets/images/download_FILL0_wght400_GRAD0_opsz40.png" alt="">
            <div class="middle">
                <div class="left">
                    <h3>Softwares</h3>
                    <h1>6</h1>
                </div>
                <div class="progress">
                    <!-- <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg> -->
                    <!-- <div class="number">
                        <p>50%</p>
                    </div> -->
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>
        <!-- End of notinstall -->
    </div>
    <div class="lists">
        <h2>Softwares</h2>
        <table>
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Device Type</th>
                    <th>Software Name</th>
                    <th>Developer</th>
                    <th>Approx Price(USD)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                    <td>Samsung</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>