<div [ngClass]="statusClass" class="{{background}}">
    <div class="warning" [innerText]="statusText">
        <p>warning text displayed here</p>
        <button id = "close-btn">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div id="progress-line" ></div>
  </div>
  <button class = "close-btn" (click)="close()">
        <span class="material-symbols-outlined ">
        close
        </span>
      </button>
      <div id="update-employee-form"> 
        <form #updateLicenseForm = "ngForm" (ngSubmit)="updateLicenseForm" class="form">
            <div class="form-floating mb-3 container">
                <input type="text" id = "name" name = "name" class="form-control rounded-0"  placeholder="Enter license name" [(ngModel)]="license.name" required>
                <label for="name">Name</label>
            </div>
          <div class="form-floating mb-3 container">
            <input class="form-control rounded-0" type="text" id= "type" name = "type" [(ngModel)]="license.type" required/>
            <label for="type">Type</label>
          </div>
          <div class="form-floating mb-3 container">
            <input class="form-control rounded-0" type="date" id= "dateIssued" name = "dateIssued" [(ngModel)]="license.dateIssued" required/>
            <label for="dateIssued">Date Issued</label>
          </div>
          <div class="form-floating mb-3 container">
            <input class="form-control rounded-0" type="date" id= "expiryDate" name = "expiryDate" [(ngModel)]="license.expiryDate" required/>
            <label for="expiryDate">Expiry Date</label>
          </div>
          <div class="d-grid gap-2 mb-3 container">
            <button type="submit" (click)="updateLicense(updateLicenseForm)" class="btn btn-primary btn-lg border-0 rounded-0 add-emp-btn">Update License</button>
          </div>
        </form>
      </div>
  
  