<div class="alert-el" [ngClass]="status" *ngIf="showAlert">
    <p> Are you sure you want to delete license {{getID()}}</p>
    <div id = "alert-btn-grp">
      <button id="ok" (click)="confirmDelete()" >OK</button>
      <button id="cancel" (click)="closeAlert()">CANCEL</button>
  </div>
  </div>
  <div [ngClass]="statusClass" class="{{background}}">
    <div class="warning" [innerText]="statusText">
        <p>warning text displayed here</p>
        <button id = "close-btn">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div id="progress-line" ></div>
    </div>

    <div class="display-form" *ngIf="showUpdateForm">
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="showAddForm" class="display-form">
        <button class = "close-btn" (click)="hideAddLicense()">
          <span class="material-symbols-outlined ">
          close
          </span>
        </button>
        <div id="add-employee-form"> 
          <form #addLicenseForm = "ngForm" (ngSubmit)="addLicenseForm" class="form">
            <div class="form-floating mb-3 container">
              <input type="text" id = "type" name = "type" class="form-control rounded-0"  placeholder="Enter device type" ngModel required>
              <label for="type">Type</label>
            </div>
            <div class="form-floating mb-3 container">
                <input type="text" id = "quantity" name = "qty" class="form-control rounded-0"  placeholder="Enter device quantity" ngModel required>
                <label for="role">Quantity</label>
              </div>
            <div class="form-floating mb-3 container">
                <input type="date" id = "dateIssued" name = "dateIssued" class="form-control rounded-0"  placeholder="Enter date issued" ngModel required>
                <label for="dateIssued">Date Added</label>
            </div>
            <div class="form-floating mb-3 container">
                <input type="date" id = "expiryDate" name = "expiryDate" class="form-control rounded-0"  placeholder="Enter date issued" ngModel required>
                <label for="expiryDate">Expiry Date</label>
            </div>
            <div class="d-grid gap-2 mb-3 container">
              <button type="submit" (click)="addLicense(addLicenseForm)" class="btn btn-primary btn-lg border-0 rounded-0 add-emp-btn">Add Licesne</button>
            </div>
          </form>
        </div>
      </div>

  <div id="dashboard" [ngClass]="blur">
    <div id="btn-group">
      <input type="text" name="search" id="search" placeholder="Search" [(ngModel)] = "searchText">
      <button class=" add-emp" (click)="showAddLicense()">Add License</button>
    </div>
      <div  id="emp-table">
          <table class="table table-striped bdr">
              <thead>
                <tr>
                  <th scope="col">License ID</th>
                  <th scope="col">Type</th>
                  <th scope="col">Licesne Date</th>
                  <th scope="col">Expiry Date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let license of licenses| searchFilter : searchText  |paginate: {itemsPerPage: 5, currentPage: p, totalItems:totalLicenses}">
                  <th class="table-item" scope="row">{{license.id}}</th>
                  <td class="table-item">{{license.type}}</td>
                  <td class="table-item">{{license.dateIssued}}</td>
                  <td class="table-item">{{license.expiryDate}}</td>
                  <td>
                    <div id="action-buttons">
                      <button class="action-btn" (click)="showUpdateLicense(license.id)">
                        <span class="material-symbols-outlined">
                          edit
                        </span>
                      </button>
                      <button class="action-btn">
                        <span class="material-symbols-outlined" (click)="deleteLicense(license.id)" >
                          delete
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>