
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div id = "main-el">
    <div id="side-bar-el" class="shadow-el" [ngClass]="width">
        <div id = "header-el" class="shadow-el" >
            <span class="material-symbols-outlined big-icon padding-icon">
                account_balance_wallet
            </span> 
            <h3 [ngClass]="sideBarStatus">Admin</h3>
            <button class="menu-btn" [ngClass]="sideBarStatus" (click)="hideBar()">
                <span class="material-symbols-outlined" >
                    close
                </span>
            </button>
        </div>
    </div>
    <button class="menu-btn" [ngClass]="showButton" (click)="showBar()">
        <span class="material-symbols-outlined arrow">
            east
        </span>
    </button>
    <div id="router-el">
        <router-outlet></router-outlet>
    </div>
</div>