<main>
    <div id="header">
      <h1 id="heading">Hello {{employee.name}} !!</h1>
      <div id="buttons">
        <button (click)="router.navigate(['logs'])">
          View Logs
        </button>
      </div>
    </div>
    <div class="insights">
        <div class="det-card" (click)="router.navigate(['employees'])">
            <span class="material-symbols-outlined icon">
                person_apron
            </span>
            <div class="middle">
                <div class="left">
                    <h3>Users</h3>
                    <h1>{{employees}}</h1>
                </div>
            </div>
        </div>
        
        <div class="det-card" (click)="router.navigate(['devices'])">
            <span class="material-symbols-outlined icon">
                devices_other
            </span>
            <div class="middle">
                <div class="left">
                    <h3>Devices</h3>
                    <h1>{{devices}}</h1>
                </div>
            </div>
        </div>

        <div class="det-card" (click)="router.navigate(['softwares'])">
            <span class="material-symbols-outlined icon">
                browser_updated
                </span>
            <div class="middle">
                <div class="left">
                    <h3>Softwares</h3>
                    <h1>{{softwares}}</h1>
                </div>
            </div>
        </div>

        <div class="det-card" (click)="router.navigate(['licenses'])">
            <span class="material-symbols-outlined icon">
                key
            </span>
            <div class="middle">
                <div class="left">
                    <h3>Licenses</h3>
                    <h1>{{licenses}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="router-comp" *ngIf="routed">
        <router-outlet></router-outlet>
    </div>
    <h1>Sent E-Mails</h1>
    <div  id="emp-table animate">
        <table class="table table-striped bdr" >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">To Mail</th>
                <th scope="col">subject</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="emails.length > 0">
              <tr *ngFor="let email of emails| paginate: {itemsPerPage: 5, currentPage: p, totalItems:totalEmails}">
                <th class="table-item" scope="row">{{email.id}}</th>
                <td class="table-item"> {{email.date}} </td>
                <td class="table-item"> {{email.time}} </td>
                <td class="table-item">{{email.toMail}}</td>
                <td class="table-item">{{email.subject}}</td>
                <td>
                  <div id="action-buttons">
                    <button class="action-btn" (click)="selectMail(email)">
                      <span class="material-symbols-outlined">
                            arrows_more_up
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-elements" *ngIf="emails.length === 0">
            <div class="robot"></div>
            <div class="text">
              <h4>Unable to fetch data at this moment</h4>
              <p>Try againafter some time</p>
            </div>
          </div>
        </div>
        <div class="pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
</main>