<div id="dashboard">
    <div id="add-employee-form"> 
      <form #addEmpForm = "ngForm" (ngSubmit)="addEmpForm" class="form">
        <div class="form-floating mb-3 container">
            <input type="text" id= "name" name = "name" class="form-control rounded-0"  placeholder="Enter your name" ngModel required/>
            <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3 container container">
            <input type="email" id = "email" name = "email" class="form-control rounded-0"  placeholder="Enter your Employee ID" ngModel required>
            <label for="email">E-mail</label>
        </div>
        <div class="form-floating mb-3 container">
            <input type="text" id = "role" name = "role" class="form-control rounded-0"  placeholder="role" ngModel required>
            <label for="role">Designation</label>
        </div>
        <div class="d-grid gap-2 mb-3 container">
            <button type="submit" (click)="addEmployee(addEmpForm)" class="btn btn-primary btn-lg border-0 rounded-0 add-emp-btn">Add Employee</button>
        </div>
        <div class="mb-3 text-center">
          <a href="./userAuth/login"  title="SignUp">Click here to add more employees</a>
      </div>
      </form>
    </div>
    <div id="emp-table">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email ID</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <th scope="row">{{employee.empid}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.role}}</td>
                <td>
                    <form >
                      <label class="switch">
                        <input type="checkbox" name="status" id ="status" class="check" (change)="geStatus($event)">
                      </label>
                    </form>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>