<div [ngClass]="statusClass" class="{{background}}">
    <div class="warning" [innerText]="statusText">
        <p>warning text displayed here</p>
        <button id = "close-btn">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div id="progress-line" ></div>
</div>
<h1>License Requests</h1>
<div  id="emp-table">
    <table class="table table-striped bdr">
        <thead>
          <tr>
            <th scope="col">License ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Licesne Date</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let license of licenses">
            <th class="table-item" scope="row">{{license.id}}</th>
            <td class="table-item" scope="row">{{license.name}}</td>
            <td class="table-item">{{license.type}}</td>
            <td class="table-item">{{license.dateIssued}}</td>
            <td class="table-item">{{license.expiryDate}}</td>
            <td>
              <div id="action-buttons">
                <button (click)="accept(license.id)">Accept</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-elements" *ngIf="licenses.length === 0">
        <div class="text" style="text-align: center;">
          <h4>No requests raised at this time</h4>
        </div>
      </div>