<div [ngClass]="statusClass" class="{{background}}">
    <div class="warning" [innerText]="statusText">
        <p>warning text displayed here</p>
        <button id = "close-btn">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div id="progress-line" ></div>
</div>
<h1 class="heading">Request Renewals</h1>
<div class="no-content" *ngIf="licenses.length === 0">
  <h4>All licenses are upto date</h4>
</div>
<div  id="emp-table" *ngIf="licenses.length > 0">
    <table class="table table-striped bdr">
        <thead>
          <tr>
            <th scope="col">License ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Licesne Date</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Expiration status</th>
            <th scope="col">Request</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let license of licenses">
            <th class="table-item" scope="row">{{license.id}}</th>
            <td class="table-item" scope="row">{{license.name}}</td>
            <td class="table-item">{{license.type}}</td>
            <td class="table-item">{{license.dateIssued}}</td>
            <td class="table-item">{{license.expiryDate}}</td>
            <td class="table-item">
              <p [class]="getRenewalStyle(license)">{{license.licenseStatus}}</p>
            </td>
            <td class="table-item">
                <button (click)="raiseRequest(license.id)">Request Renewal</button>
            </td>
          </tr>
        </tbody>
      </table>
      
</div>