<div [ngClass]="statusClass" class="{{background}}">
    <div class="warning" [innerText]="statusText">
        <p>warning text displayed here</p>
        <button id = "close-btn">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div id="progress-line" ></div>
</div>
<div id="main-el">
    <div id="form-element">
        <form id="form" #f="ngForm">
            <div class="dropdown">
                <select name="licenseType" class="dropbtn input-btn" [(ngModel)]="licenseType" (change)="updateLicenseType(licenseType)"> 
                    <option disabled selected value>Select Licence Type</option>
                    <option [value]="'Device'"> Device </option>
                    <option [value]="'Software'"> Software </option>
                </select>
              </div>
              <div class="dropdown">
                <select name="license" class="dropbtn input-btn" ngModel> 
                    <option disabled selected value>Select License to assign</option>
                    <option *ngFor="let license of licenses" [value]="license.id +'  '+ license.name">
                            {{license.id}} - {{license.name}}
                    </option>
                </select>
              </div>
              <button class="button" (click)="getFormDetails(f)">Get {{licenseType}}</button>
        </form>
    </div>

    <div id="table-el">
        <div id="table">
            <div id="no-elements" *ngIf="!showSoftwareTable && !showDeviceTable">No softwares or devices to assign</div>
            <table class="table table-striped bdr" *ngIf="showSoftwareTable">
                <thead>
                  <tr>
                    <th scope="col">Device ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let software of softwareList">
                    <th class="table-item" scope="row">{{software.id}}</th>
                    <td class="table-item">{{software.name}}</td>
                    <td class="table-item">{{software.version}}</td>
                    <td class="table-item">{{software.dateAdded}}</td>
                    <td class="table-item">
                        <button class="assign" (click)="assignSoftware(software.id,software.name)">Assign</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-striped bdr" *ngIf="showDeviceTable">
                <thead>
                  <tr>
                    <th scope="col">Device ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let device of deviceList">
                    <th class="table-item" scope="row">{{device.id}}</th>
                    <td class="table-item">{{device.name}}</td>
                    <td class="table-item">{{device.type}}</td>
                    <td class="table-item">{{device.category}}</td>
                    <td class="table-item">{{device.dateAdded}}</td>
                    <td class="table-item">
                        <button class="assign" (click)="assignDevice(device.id,device.name)">Assign</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>
