:root {

    --text: #000000;
    --background: #f1f1f1;
    --primary: #005dff;
    --secondary: #3783FF;
    --accent: #c4e0ff;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

@keyframes pop-up {
    0% {
        top: -30px;
    }

    2% {
        top: -10px;
    }

    8% {
        top: -25px;
    }

    11% {
        top: -10px;
    }

    14% {
        top: -15px;
    }

    17% {
        top: -10px;
    }
    90%{
        opacity:1;
    }
    100% {
        opacity:0;
        /* visibility: hidden; */
    }
}

@keyframes dec-width {
    0%{
        width:250px;
    }
    100%{
        width:60px;
    }
}

@keyframes inc-width {
    0%{
        width:60px;
    }
    100%{
        width:250px;
    }
}

@keyframes progress {
    0%{
        width:0;
        /* align-self: ; */
    }
    100%{
        width:100%
    }
}