:root {

    --text: #000000;
    --background: rgb(244, 250, 255);
    --primary: #005dff;
    --secondary: #4f92ff;
    --accent: #c4e0ff;

}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

@keyframes pop-up {
    0% {
        top: -30px;
    }

    2% {
        top: -10px;
    }

    8% {
        top: -25px;
    }

    11% {
        top: -10px;
    }

    14% {
        top: -15px;
    }

    17% {
        top: -10px;
    }
    90%{
        opacity:1;
    }
    100% {
        opacity:0;
        visibility: hidden;
    }
}

@keyframes animate-comp {
    0%{
        transform: translateY(-100px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}

.animate{
    animation:animate-comp alternate ease-out 0.4s;
}

@keyframes dec-width {
    0%{
        width:250px;
    }
    100%{
        width:60px;
    }
}

@keyframes inc-width {
    0%{
        width:60px;
    }
    100%{
        width:250px;
    }
}

@keyframes progress {
    0%{
        width:0;
    }
    100%{
        width:100%
    }
}

.table-striped>thead>tr>th{
    background-color: var(--secondary);
}

.table-item{
    height:35px;
    vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
 background-color: var(--accent);
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: var(--background);
}