<div [ngClass]="statusClass" class="{{background}}">
    <div class="warning" [innerText]="statusText">
        <p>warning text displayed here</p>
        <button id = "close-btn">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div id="progress-line" ></div>
  </div>
  <button class = "close-btn" (click)="close()">
        <span class="material-symbols-outlined ">
        close
        </span>
      </button>
      <div id="update-employee-form"> 
        <form #updateSoftwareForm = "ngForm" (ngSubmit)="updateSoftwareForm" class="form">
          <div class="form-floating mb-3 container">
            <input class="form-control rounded-0" type="text" id= "name" name = "name" [(ngModel)]="software.name" required/>
            <label for="name">Name</label>
          </div>
          <div class="form-floating mb-3 container">
            <input class="form-control rounded-0" type="text" id= "version" name = "version" [(ngModel)]="software.version" required/>
            <label for="version">Type</label>
          </div>
          <div class="form-floating mb-3 container">
            <input class="form-control rounded-0" type="date" id= "dateAdded" name = "dateAdded" [(ngModel)]="software.dateAdded" required/>
            <label for="dateAdded">Date Added</label>
          </div>
          <div class="d-grid gap-2 mb-3 container">
            <button type="submit" (click)="updateSoftware(updateSoftwareForm)" class="btn btn-primary btn-lg border-0 rounded-0 add-emp-btn">Update Software</button>
          </div>
        </form>
      </div>
  
  